# Операционные системы
.DS_Store
Thumbs.db

# Файлы окружения
.env

# Скомпилированные бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Папки и файлы, сгенерированные Go
bin/
build/
vendor/

# Кэш и временные файлы
*.out
*.a
*.test
*.cache

# Папка с кэшем Go
*.tmp

# Системные файлы
*.log
*.tmp

# Папки для IDE
.idea/
.vscode/
*.swp
*.swo
